
.formulario-contato {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botao-enviar-contato {
    background-color: var(--azul-escuro);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-enviar-contato:hover {
    background-color: #0056b3;
}

/* Estilos para telas maiores */
@media (min-width: 768px) {
    .formulario-contato {
        max-width: 500px;
        margin: 0 auto;
    }
}


h4{
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.map-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
}

.map-container iframe {
    width: 100%;
    border: none;
}

.map-container {
    padding: 30px;
    text-align: center;
    font-size: bold;
}

@media (min-width: 768px) {
    .map-container {
        flex-direction: row;
    }

    .map-container iframe {
        width: 70%;
        height: 100%;
    }

    .map-container .address {
        width: 40%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
    }
}

.address {
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--azul-unisul);
}