
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Segoe UI', system-ui, sans-serif;
}

body {
 background-color: var(--primary-color);
 line-height: 1.6;
 background-color: #146677;
}

.navbar {
 font-size: 1.4em;
 color: #146677 !important;
 padding: 2rem;
 white-space: nowrap;
 font-weight: 500;
 background: white;
 margin-bottom: 2rem;
 color: var(--primary-color);
 display: flex;
 justify-content: space-between;
 align-items: center;
 box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nav-brand {
 display: flex;
 align-items: center;
 gap: 0.75rem;
}

.logo {
 width: 40px;
 height: 40px;
}
.logo {
 width: 40px;
 height: 40px;
}


.admin-icon {
color: #146677;
font-size: 1em;
text-decoration: none;
margin-left: 0.5rem; 
}


 .update-box {
   border: 1px solid #ddd;
   border-radius: 10px;
   padding: 10px;
   margin-bottom: 20px;
   display: flex;
   align-items: center;
   gap: 15px;
 }

 .update-box i {
   font-size: 2rem;
   color: #007bff;
 }

 .update-text {
   flex: 1;
   color: white;
 }

 .btn-custom {
   margin: 5px;
 }

 .admin-panel {
   background-color: #f8f9fa;
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 30px;
 }

 .admin-panel img {
   max-width: 100%;
   border-radius: 10px;
   margin-top: 20px;
 }

 img {
   width: 100%;
 }
 .footer {
 background: transparent;
 color: #f2f2f2;
 padding: 20px 15px;
 font-size: 14px;
 text-align: center;
}

.footer-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;
}

.footer-info p,
.footer-dev p {
 margin: 5px 0;
 line-height: 1.4;
}

.footer-dev a {
 color: #b3e0ff;
 margin: 0 5px;
 font-size: 18px;
 transition: color 0.3s ease;
}

.footer-dev a:hover {
 color: #6db3ff;
}

.hero {
 text-align: center;
 padding: 3rem 1rem;
}

.hero-title {
 font-size: 2rem;
 margin-bottom: 1rem;
 color: white;
}

.highlight {
 color: var(--accent-color);
}

.hero-subtitle {
 font-size: 1.2rem;
 color: #7f8c8d !important;
}
.linkzinho{
 text-decoration: none;
 font-size: 16px;
}
.text-center{
 color: white;
}
