.custom-dot.active {
  background-color: #146677 !important;
}

.small-caption {
  display: inline-block; 
  font-size: 1rem; 
  font-weight: 700;
  background-color: #146677;
  padding: 8px 16px; 
  border: solid #146677;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  white-space: nowrap;
  border-radius: 5px; 
  text-align: center; 
}

.carousel-caption {
  position: absolute;
  bottom: 30px; 
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 600px; 
}

.carousel-item img {
  height: 300px; 
  object-fit: cover; 
  width: 100%; 
  border-radius: 8px;
}

.carrossel {
  margin-top: 1%;
  padding: 12px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .small-caption {
      font-size: 0.9rem; 
      padding: 6px 12px; 
  }

  .carousel-item img {
      height: 300px;
  }

  .carousel-caption {
      bottom: 10px; 
  }
}
@media (min-width: 768px) {
  .small-caption {
      font-size: 1.2rem; 
      padding: 10px 20px; 
  }

  .carousel-item img {
      height: 600px !important; 
  }

  .carousel-caption {
      bottom: 50px; 
  }
}

@media (min-width: 1024px) {
  .carrossel {
      max-width: 1200px; /* Limita a largura máxima do carrossel */
      margin: 0 auto; /* Centraliza o carrossel na tela */
      padding: 20px; /* Adiciona mais espaço nas laterais */
  }

  .small-caption {
      font-size: 1.2rem; 
      padding: 12px 24px; 
  }

  .carousel-item img {
      height: 450px; /* Altura um pouco menor para não ficar muito grande */
  }

  .carousel-caption {
      bottom: 60px; 
      max-width: 800px; /* Aumenta a largura máxima da legenda */
  }
}